<div>
    <h2>Contact Me:</h2><br>

  <form (ngSubmit)="onSubmit()"> 
    <div>
        <label for="name">Name: </label> 
        <input type="text" class="form-control" name="name" placeholder="Name" required [(ngModel)]="model.name" />
    </div>
    <div>
        <label for="email">Email: </label> 
        <input type="text" class="form-control" name="email" placeholder="John.Smith@website.com" required [(ngModel)]="model.email" />
    </div>
    <br>
    <div>
        <label for="subject">Subject: </label> 
        <input type="text" class="form-control" name="subject" placeholder="Message Subject" required [(ngModel)]="model.subject" />
      
        <label for="message">Message: </label> 
        <textarea type="text" class="form-control" name="message" placeholder="Your Message Here..." required [(ngModel)]="model.message"> </textarea>
    </div>
      <br>
    <div>
        <button type="submit" class="btn btn-outline-primary">Send!</button>
    </div>
  </form>
  </div>