li {
    list-style-type: none;
}
h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.music-container {
    margin: 20px;
    padding: 10px;
    background-image: url(https://i.ebayimg.com/00/s/NjkzWDY5Mw==/z/pnwAAMXQUmFSnGv5/$_12.JPG?set_id=880000500F);
    background-size: cover;
    background-position: top;
    font-family: 'Montserrat', sans-serif;
    color: rgb(2, 91, 224);
    width: 300px;
    font-size: 25px;
    

}
.content-box {
    opacity: .8;
}

.music {
    text-align: center;
    margin: 10px;
}
.music-container a {
    color: rgb(2, 82, 202);
}