form input {
    outline-width: 0;
    border-style: none;
}

form textarea {
    outline-width: 0;
    border-style: none;
}

form div {
    margin-bottom: 5px;
    text-align: center;
    padding: 3px;
}
h3 {
    text-align: center;
}


input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border: 2px solid rgb(236, 83, 83);
    transition: all 0.35s ease-in-out;
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
    border: 2px solid rgb(96, 201, 96);
    transition: all 0.35s ease-in-out;
}