<!--The content below is only a placeholder and can be replaced.-->

<div id="header">
    <h1 id="title-header">
      {{ title }}'s Portfolio Page! 
    </h1>
    <img id="profile_pic-header" alt="profile_pic" src="https://notdavidscott.com/images/profile_pic.JPEG">
   
</div>

<div id="tag-line">
  <h4> {{ tagLine }}</h4>
  <h4> {{ tagLine2 }}</h4>
</div>

<div class="row justify-content-center" id="about-me-container">
  <div class="col about-me">
    <h3> About Me </h3>
    <hr />
    <p> {{ aboutMe }} </p>
  </div>
</div>

<div class="photo-gallery"><br>
    <p> Since a picture says a thousands words, here are 6000 words for you!</p>
  <div class="photos">
      
          <div class="p-2 d-flex row"><img src="http://notdavidscott.com/images/Lizard.sm.jpg" />
          <img src="http://notdavidscott.com/images/Resort.sm.jpg" />
         <img src="http://notdavidscott.com/images/coffee2.0.jpg" />
        </div>
              
         <div class="d-flex row justify-content-end">
            <div class="p-2"><img src="http://notdavidscott.com/gallery/images/hiddenhouseramp.jpg" />
             <img src="http://notdavidscott.com/gallery/images/puerto.sm.jpg" />
            <img src="http://notdavidscott.com/gallery/images/bethelmusiclive.jpg" />
          </div>         
  </div>
</div>



