#visitor-input {
    margin: 10px 0 20px 0;
}

#profile_pic-header {
    width: 280px;
    height: 100%;
    border-radius: 1%; 
    box-shadow: 0 6px 10px rgba(0,0,0,0.25), 0 7px 10px rgba(0,0,0,0.22);
    margin: 40px;
}
input {
    outline-width: 0px;
    border: 2px solid white;
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
    border: 2px solid rgb(105, 135, 218);
    transition: all 0.35s ease-in-out;
}
.greeting-section {
    text-align: center;
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 40px;
    margin: 0px 500px;
    background-color: rgb(238, 235, 235);
    border-radius: 1.5%;
    border: 1px solid rgb(224, 224, 224);
}
